<h2 class="screen-align">Screen297232</h2>
<div id="template-ic4t" class="">
    <div id="template-imam" class="gjs-row">
        <div id="template-it5o" class="gjs-cell">
            <div id="template-iuvx" class="gjs-row">
                <div id="template-i1fu" class="gjs-cell"></div>
                <div id="template-i19m" title="text" class="gjs-cell">
                    <img id="template-i2te" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"
                    class="" />
                    <iframe allowfullscreen="allowfullscreen" id="template-ioqzm" src="https://www.youtube.com/embed/https://www.youtube.com/watch?v=Ip3VRAV0PXw&autoplay=1&mute=1&loop=1&playlist=https://www.youtube.com/watch?v=Ip3VRAV0PXw&modestbranding=1"
                    class=""></iframe>
                </div>
                <div id="template-ivdg" class="gjs-cell"></div>
            </div>
        </div>
    </div>
</div>